#!/usr/bin/env sh
# shellcheck shell=sh # POSIX

REQUIRED_DIRENV_VERSION="2.21.3"

if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi

! command -v nix 1>/dev/null || {
	# FIXME(Krey): Check if the host nixos system has flakes enabled, if NOT then do `use nix`
	use flake .
}
